/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0c4e67;
  --secondary-color: #3ad9e4;
  --accent1-color: #2a9d8f;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: Source Sans Pro, "Open Sans";
  --paragraph-font: Source Sans Pro, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0c4e67; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #0c4e67; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #0c4e67;
  --nav-link-color: white;
  --nav-background-color: #0c4e67;
  --nav-hover-link-color: black;
  --nav-hover-background-color-1: white;
  --nav-hover-background-color-2: #3ad9e4;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  background: #eeeeee;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background: linear-gradient(315deg, #0c4e67, #3ad9e4, #0c4e67);
  font-weight: 800;
  opacity: 80%;
}

header > h1,
header > h2 {
  color: white;
  font-family: Source Sans Pro, "Open Sans";
}
nav {
  display: flex;
  justify-content: space-around;

}
header nav a {
  padding: 35px;
  font-size: 40px;
  font-weight: 800;
  color: #eeeeee;
  margin: 0;
  text-decoration: none;
}
header nav a:hover {
  font-weight: 800;
  color: #0c4e67;
  margin: 0;
  min-width: 120px;
  text-decoration: none;
}
header .logo,
.icon {
  width: 80px;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
nav a,
.button-box,
main section {
  text-align: center;
  padding: 20px;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -175px;
}

h4 {
    color: white;
    font-size: 16px;
    text-align: center;
  }
  h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: 800;
    color: #0c4e67;
    margin: 0;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
  }
  


  h3 {
    font-size: 25px;
  }
  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
     


  footer {
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(315deg, #0c4e67, #3ad9e4, #0c4e67);
    color: white
  }
  
  footer h3{
    color: white;
  }
  footer h3 a {
    padding: 10px;
    font-weight: 800;
    color: white;
    margin: 0;
    text-decoration: none;
  }
  
  footer a:hover {
   color: #0c4e67;
  }
  
  footer .social img   {
    padding-top: 15px;
    padding-left: 2px;
  }
  
  /* Form */

  form {
    /* Center the form on the page */
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    width: 900px;
    height: 550px;
    /* Form outline */
    padding: 1em;
    border: 1px solid  #3ad9e4;
    background: linear-gradient(315deg, #0c4e67, #3ad9e4, #0c4e67);
    border-radius: 1em;
    color: white;
  }
  .home-title {
    font-family: Source Sans Pro, "Open Sans";
   font-size: 42px;
   text-align: center;
   }
   
  ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    text-align: center;
  }
    
  label {
    /* Uniform size & alignment */
    width: 50%;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    
    }
  
  input {
    width: 90%;
    background: #282828;
    border: 1px solid #393939;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
  }
  textarea{
    width: 92%;
    background: #282828;
    border: 1px solid #393939;
    border-radius: 6px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
    height: 10em;
  }
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border: 2px solid #000000;
    box-shadow: 0 5px 5px #3ad9e4;
    
    }
  

  
  .button {
    /* Align buttons with the text fields */
    padding-left: 0px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
       margin-top: 20px;
       padding: 15px 30px;
       font-size: 18px;
       color: white;
       background: linear-gradient(315deg, #0c4e67, #3ad9e4, #0c4e67);
       border: solid 0.3px rgb(0, 0, 0);
       border-radius: 5px;
       color: #ffffff;
       text-decoration: none;
       font-weight: bold;
       }
    button:hover
     {
      color: #0c4e67;
      background: linear-gradient(white, #3ad9e4);
      border: solid 0.3px rgb(0, 0, 0);
      cursor: pointer;

    }

/* Media Queries */


@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .product1, .ask, .product3 { 
      margin: 50px auto;
      width: 60%;
  }

  footer {
      margin-top: 25px;
  }
}
