html{
    box-sizing: content-box;
    width: 1600px;

}
body{
    background-color: rgb(97, 97, 97);
    margin: 0 auto;

}
.header,.content{
    width: 2000px;
}
.content{
    display: flex;
    text-align: center;
    flex-direction: row;
}
.content .image{
    display:block;
    border-radius: 100%;
    background-color: rgb(55, 55, 55);
    padding: 0.8em;
    border: 10px;
    margin: 0 150px;
    

}
.content .image img{
    height: 300px;
    align-items: center;
    align-content: center;
    border-radius: 100%;
}
